* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat";
}
html {
  scroll-behavior: smooth;
}
:root {
  --yellow: #ffb100;
  --back: rgb(255, 244, 231);
}
::-webkit-scrollbar {
  display: none;
}
::selection {
  background-color: transparent !important;
}
.App {
  width: 100%;
  height: auto;
  background-color: var(--back);
}

/* N A V B A R */

.nav {
  width: 60px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.nav_line {
  width: 40px;
  height: 6px;
  background-color: var(--yellow);
  border-radius: 3px;
  transition: 0.3s;
}
.nav:hover .nav_line {
  background-color: black;
}
.nav_menu {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -400px;
  opacity: 0;
  background-color: black;
  transition: 0.5s;
  z-index: 11;
}
.open {
  left: 0;
  opacity: 1;
}
.nav_menu .x_menu {
  width: 100%;
  padding: 25px;
  color: var(--yellow);
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  cursor: pointer;
}
.nav_menu .links {
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.nav_menu .links a {
  font-size: 30px;
  font-weight: 500;
  color: var(--yellow);
  width: 90%;
  height: 50px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.nav_menu .links a:after {
  position: absolute;
  bottom: 5px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--yellow);
  transform: rotateY(90deg);
  transition: 0.5s;
}
.nav_menu .links a:hover::after {
  transform: rotateY(0);
}
[class$="_page"] {
  width: 100%;
  min-height: 100vh;
}

/* H O M E */

.home_page {
  padding: 60px 70px;
}
.home {
  width: 100%;
  height: 100%;
  display: flex;
}
.home .info {
  width: 50%;
  height: 600px;
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 5%;
}
.home .img {
  width: 50%;
  height: 600px;
  background-color: black;
  overflow: hidden;
}
.home .img img {
  width: 100%;
  transform: translateY(-30px);
}
.line_span {
  font-size: 30px;
  position: relative;
  padding-left: 120px;
}
.home .line_span::after {
  background-color: rgba(0, 0, 0, 0.8);
}
.line_span::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  width: 100px;
  height: 4px;
  background-color: var(--yellow);
  border-radius: 2px;
}
.home .info .name {
  font-size: 70px;
  animation: name_skew 1s linear infinite alternate-reverse;
}
.home .info .dev {
  color: rgba(0, 0, 0, 0.8);
  font-size: 40px;
  width: 430px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid rgba(0, 0, 0, 0.8);
}
.home .info .CV {
  width: 220px;
  height: 60px;
  margin-top: 20px;
  background-color: black;
  border: none;
  outline: none;
  color: var(--yellow);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home .info .CV::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--yellow);
  transition: 1s;
}
.home .info .CV::after {
  position: absolute;
  content: "";
  bottom: 5px;
  right: 5px;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--yellow);
  transition: 1s;
}
.home .info .CV:hover::before,
.home .info .CV:hover::after {
  width: 210px;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes name_skew {
  0% {
    transform: skew(-3deg);
  }
  10% {
    transform: skew(-4deg);
  }
  20% {
    transform: skew(1deg);
  }
  30% {
    transform: skew(4deg);
  }
  40% {
    transform: skew(2deg);
  }
  50% {
    transform: skew(-3deg);
  }
  60% {
    transform: skew(1deg);
  }
  70% {
    transform: skew(5deg);
  }
  80% {
    transform: skew(0deg);
  }
  90% {
    transform: skew(4deg);
  }
  100% {
    transform: skew(5deg);
  }
}
.typing_anim {
  animation: typing 1.5s steps(18), blink 0.5s step-end infinite alternate;
}
.top_anim {
  animation: typing 0.8s steps(11), blink 0.5s step-end infinite alternate;
}

/* A B O U T */

.about_page {
  display: flex;
}
.about_me {
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 75px;
}
.about_info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.more_about {
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.about_info p {
  font-size: 18px;
  margin-top: 30px;
}
.about_info .socials {
  font-size: 20px;
  display: flex;
  gap: 12px;
  margin-top: 30px;
}
.about_info .socials a {
  color: black;
  cursor: pointer;
  transition: 0.3s;
}
.about_info .socials a:hover {
  color: var(--yellow);
}
.skills {
  width: 50%;
  min-height: 100vh;
  background-color: var(--yellow);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 75px;
}
.all_skills {
  width: 85%;
  height: auto;
}
[class$="_skill"] {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0px;
}
[class$="_skill"] .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
[class$="_skill"] .top span {
  font-size: 20px;
  font-weight: 600;
}
.skill_line {
  width: 0%;
  height: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.85);
  transition: 3s;
}

/* S E R V I C E S */

.services_page {
  min-height: 100vh;
  padding: 60px 100px 130px 100px;
  position: relative;
}
.what_i_do {
  width: 100%;
  height: 110px;
}
.what_i_do h1 {
  font-size: 60px;
  width: 320px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid rgba(0, 0, 0, 0.8);
}
.services_page .foot_line {
  width: 100%;
  height: 135px;
  background-color: var(--yellow);
  position: absolute;
  bottom: 0;
  left: 0;
}
.all_services {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}
.service {
  width: 33.33%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.service:nth-child(2),
.service:nth-child(5) {
  border-left: 2px solid var(--yellow);
  border-right: 2px solid var(--yellow);
}
.service i {
  font-size: 100px;
}
.service:nth-child(4) i,
.service:nth-child(5) i,
.service:nth-child(6) i {
  font-size: 80px;
}
.service_info {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service_info p {
  font-size: 15px;
  letter-spacing: 0.5px;
  margin-top: 15px;
}
.in_line {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.inline_item {
  width: 25%;
  height: 80%;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--back);
}
.inline_item span:last-child {
  font-size: 18px;
}

/* P O R T F O L I O */

.portfolio_page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}
.vertical_head {
  width: 16%;
  height: 100vh;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical_head h1 {
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 5px;
  transform: rotate(-90deg);
  color: var(--back);
}
.my_portfolio {
  width: 84%;
  min-height: 100vh;
  padding: 80px;
}
.filter {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
.filter label {
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 5px;
  position: relative;
  transition: 0.2s;
}
.filter label::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--yellow);
  transform: rotateY(90deg);
  transition: 0.3s;
}
.filter label:hover {
  color: var(--yellow);
}
.filter label:hover::after {
  transform: rotateY(0);
}
.filter input[type="radio"]:checked + label {
  color: var(--yellow) !important;
}
.filter input[type="radio"]:checked + label::after {
  transform: rotateY(0);
}
.filter input {
  display: none;
}
.items {
  width: 100%;
  height: 520px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 35px;
}
.items::-webkit-scrollbar {
  display: block;
}
.items::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border: 7px solid var(--back);
  border-radius: 20px;
}
.project {
  width: 48%;
  height: 45%;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.6s;
  opacity: 0;
  z-index: -1;
}
.project h1 {
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 45px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--yellow);
  opacity: 0;
  z-index: 2;
  transition: 0.8s;
  transition-delay: 0.1s;
}
.project:hover .overlay {
  opacity: 1;
  z-index: 1;
}
.project:hover h1 {
  top: 0;
  opacity: 1;
}
.project img {
  width: 100%;
}

/* T E S T I M O N N I A L S  */

.testimonnials_page {
  width: 100%;
  padding-top: 60px;
}
.reviews {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviews .headline {
  margin-left: 100px;
}
.reviews .line_span {
  font-size: 26px;
}
.reviews h1 {
  font-size: 70px;
}
.mySwiper {
  height: 100%;
}
.swiper {
  width: 100%;
  height: 530px !important;
  padding-top: 50px !important;
  box-shadow: 0px -200px 200px -200px inset #ffb300a0;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px !important;
  height: 400px !important;
  padding: 20px 40px;
  border-radius: 8px;
  background-color: var(--back);
  box-shadow: 0px 0px 30px 0px rgba(163, 163, 163, 0.6);
}
.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-pagination-bullet {
  margin-bottom: 15px !important;
  width: 10px !important;
  height: 10px !important;
  background-color: rgba(128, 128, 128, 0.7) !important;
  cursor: pointer;
  transition: 0.3s;
}
.swiper-pagination-bullet:hover:not(.swiper-pagination-bullet-active) {
  background-color: #666 !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--yellow) !important;
}
.customer {
  width: 100%;
  height: 25%;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}
.customer img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid var(--yellow);
}
.customer_info {
  color: var(--yellow);
  display: flex;
  flex-direction: column;
  gap: 6px;
  letter-spacing: 0.5px;
}
.companies {
  width: 100%;
  min-height: 200px;
  background-color: #ffdf9f;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 5%;
}
.company {
  width: 210px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company a img {
  width: 60%;
  transition: 0.3s;
}
.company:first-child a img {
  width: 50%;
}
.company a:hover img {
  transform: scale(1.1);
}

/* C O N T A C T */

.contact_page {
  width: 100%;
  height: 100vh;
  display: flex;
}
.contact_page .vertical_head {
  background: rgb(255, 177, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 177, 0, 1) 20%,
    rgba(255, 223, 159, 1) 100%
  );
}
.contacts {
  width: 100%;
  height: 100%;
  display: flex;
}
.touch,
.map {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.touch {
  padding: 120px 80px;
}
.touch form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.touch form input {
  padding-bottom: 20px;
}
.touch form span {
  margin-bottom: 30px;
}
.form_item {
  width: 100% !important;
  min-height: 50px;
  margin-top: 30px;
  padding-left: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 0px;
  background-color: var(--back);
  font-size: 20px;
  color: #666;
}
.form_item::placeholder {
  opacity: 0.4;
}
.form_item:last-child {
  margin-top: 30px;
}
.form_item:focus {
  border-bottom: 2px solid var(--yellow);
}
.button {
  width: 200px;
  min-height: 60px;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.button::before {
  content: "";
  width: 184px;
  height: 44px;
  position: absolute;
  top: -30px;
  left: -165px;
  background-color: var(--yellow);
  transition: 1s;
}
.button::after {
  content: "";
  width: 184px;
  height: 44px;
  position: absolute;
  bottom: -30px;
  right: -165px;
  background-color: var(--yellow);
  transition: 1s;
}
#submit_btn {
  width: 194px;
  height: 53.5px;
  color: #666;
  background-color: var(--back);
  outline: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  border: 1px solid var(--back);
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: 0.5s;
  z-index: 1;
}
.button:hover #submit_btn {
  color: var(--yellow);
}
.button:hover::before {
  top: 0;
  left: 0;
}
.button:hover::after {
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 1492px) {
  .service {
    width: 50%;
  }
  .service:nth-child(1),
  .service:nth-child(3),
  .service:nth-child(5) {
    border: none;
  }
  .service:nth-child(2),
  .service:nth-child(4),
  .service:nth-child(6) {
    border-left: 2px solid var(--yellow);
    border-right: none;
  }
}
@media screen and (max-width: 1482px) {
  .home .img img {
    transform: translateY(-10px);
  }
}
@media screen and (max-width: 1440px) {
  .home .img img {
    width: auto;
    height: 100%;
    transform: translateY(0);
  }
  .more_about {
    font-size: 50px;
  }
  .about_info p {
    font-size: 16px;
  }
  .items {
    gap: 30px;
  }
  .project {
    height: 40%;
  }
  .headline span {
    font-size: 24px;
  }
  .headline h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 1292px) {
  .project {
    height: 37%;
  }
}
@media screen and (max-width: 1220px) {
  .home {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .home .info {
    width: 100%;
    height: auto;
    padding: 100px 25%;
  }
  .home .img {
    width: 100%;
    height: auto;
    background-color: transparent;
  }
  .home .img img {
    width: 100%;
    height: auto;
  }
  .about_page {
    display: flex;
    flex-direction: column;
  }
  .about_me {
    width: 100%;
  }
  .skills {
    width: 100%;
  }
  .more_about {
    font-size: 70px;
  }
  .about_info p {
    font-size: 20px;
  }
  .all_skills {
    margin-top: 30px;
  }
  .my_portfolio {
    padding: 50px;
  }
  .project {
    width: 100%;
    height: 65%;
  }
  .items {
    gap: 50px;
  }
  .headline span {
    font-size: 22px;
  }
  .headline h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1085px) {
  .all_services {
    row-gap: 10px;
    margin-top: 20px;
  }
  .service {
    width: 100%;
    border: none !important;
    margin: 0 auto;
    padding: 0 50px;
  }
  .service i {
    transform: scale(1.2);
  }
  .project {
    height: 48%;
  }
  .items {
    gap: 30px;
  }
  .headline span {
    font-size: 20px !important;
  }
  .headline h1 {
    font-size: 45px;
  }
  .contacts {
    flex-wrap: wrap;
  }
  .touch form span {
    margin-bottom: 0;
  }
  .touch {
    width: 100%;
    height: 70%;
    padding: 40px 50px;
  }
  .map {
    width: 100%;
    height: 30%;
  }
  .form_item {
    min-height: 40px;
    font-size: 18px;
  }
}
@media screen and (max-width: 840px) {
  .home_page {
    padding: 60px 40px;
  }
  .home .info {
    padding: 100px 10%;
  }
  .home .info .name {
    font-size: 50px;
  }
  .service {
    padding: 0 !important;
  }
  .in_line {
    width: 82%;
  }
  .project {
    width: 100%;
    height: 42%;
  }
  .items {
    gap: 25px;
  }
  .headline span {
    font-size: 18px !important;
  }
  .headline h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 770px) {
  .project {
    height: 30%;
  }
  .items {
    gap: 20px;
  }
  .my_portfolio {
    padding: 40px;
  }
  .filter {
    gap: 25px;
  }
  .reviews .headline {
    margin-left: 70px;
  }
}
@media screen and (max-width: 650px) {
  .home_page {
    padding: 60px 20px;
  }
  .home .info {
    padding: 50px 3%;
  }
  .services_page {
    padding-left: 80px;
    padding-right: 50px;
  }
  .service i {
    transform: scale(1);
  }
  .in_line {
    width: 98%;
  }
  .inline_item {
    font-size: 28px;
  }
  .inline_item span:last-child {
    font-size: 16px;
  }
  .project {
    height: 25%;
  }
  .items {
    gap: 15px;
  }
  .my_portfolio {
    padding: 30px;
  }
  .reviews .headline {
    margin-left: 60px;
  }
}
@media screen and (max-width: 560px) {
  .project {
    height: 20%;
  }
  .my_portfolio {
    padding: 20px;
  }
  .filter {
    gap: 15px;
  }
  .line_span::after {
    width: 60px;
  }
  .line_span {
    font-size: 24px;
    padding-left: 80px;
  }
  .home .info .name {
    font-size: 40px;
  }
  .home .info .dev {
    width: 300px;
    font-size: 28px;
  }
  .home_page {
    padding: 60px 10px;
    min-height: auto;
  }
  .about_me {
    padding: 0px 10px;
    min-height: auto;
  }
  .more_about {
    font-size: 50px;
  }
  .skills {
    padding: 50px 20px;
    min-height: auto;
  }
  .all_skills {
    width: 100%;
  }
  .about_info .socials {
    margin-bottom: 30px;
  }
  .services_page {
    padding: 60px 10px 120px 10px !important;
    padding: 60px 10px;
  }
  .service {
    padding: 10px 0px !important;
    height: auto;
  }
  .inline_item {
    font-size: 22px;
  }
  .inline_item span:last-child {
    font-size: 12px;
  }
  .services_page .foot_line {
    height: 90px;
  }
  .items {
    height: auto;
    max-height: 765px;
  }
  .my_portfolio label {
    font-size: 10px;
  }
  .project {
    height: 115px;
  }
  .project h1 {
    font-size: 30px;
  }
  .headline {
    margin-left: 20px !important;
  }
  .swiper-slide {
    width: 300px !important;
    height: 300px !important;
    padding: 20px;
  }
  .customer {
    margin-bottom: 20px;
    gap: 10px;
    padding-left: 0px;
  }
  .swiper {
    height: 429px !important;
    
  }
  .reviews {
    height: auto;
    justify-content: flex-start;
  }
  [class$="_page"] {
    min-height: auto;
  }
  .companies {
    padding: 20px 0;
  }
  .company {
    width: 180px;
  }
  .touch {
    height: 60%;
    padding: 30px 20px;
  }
  .map {
    height: 40%;
  }
  .nav_menu {
    width: 100vw;
    position: fixed;
    top: 0;
    left: -100vw;
  }
  .open {
    left: 0;
    opacity: 1;
  }
}
